@import "tailwindcss";

@layer base{
    ul{
        @apply 
        list-disc
        pl-8
        lg:pl-12
    }
}

@layer components{
    .home-text{
        @apply
        text-xl
        mt-6
    }

    .home-section{
        @apply 
        px-4
        lg:px-24
        py-10
    }
}
